body {
    background-color: #FFFFFF;
    color: #3E3E3E;
    min-width: 45em;
    line-height: 1.7em;
    font-size: 1em;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

main {
    max-width: 52em;
    overflow: visible;
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto; 
}

p {
    text-align: left;
    padding: 0em 0.5em;
    font-size: 1em; 
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
    line-height: 1em; 
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

.date {
    text-align: left;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; 
    font-size: 1.1em; 
}

#projects a:link {
    color: #3E3E3E;
}

#projects a:visited {
    color: #3E3E3E;
}
 
a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #CCDEFF;
    transition: color .3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

a:link {
    color: #6FA3FF;
}

a:visited {
    color: #6FA3FF;
}

a:hover {
    color: #3E3E3E;
    box-shadow: inset 11em 0 0 0 #CCDEFF;
}

#horizontal-nav {
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    /* margin: 0em;
    padding: 0em; */
    background-color: white; 
}

#horizontal-nav-list li {
    text-align: center;
    display: inline-block;
}

/* #horizontal-nav-list a {
    transition: color .3s ease-in-out, box-shadow 0.3s ease-in-out;
} */

#horizontal-nav-list li a:link, a:visited {
    background: white;
    color: #3E3E3E;
    padding: 0.5em 1em;
    outline: none;
}

#horizontal-nav-list li a:hover, a:active {
    color: white;
    box-shadow: inset 11em 0 0 0 #6FA3FF;
}

.main-section-header {
    padding: 1em 0em;
}

.main-section-header h1 {
    width: auto;
    text-align: center;
    border-bottom: 0.05em solid #3E3E3E;
    line-height: 0.1em;
    font-weight: 300;
    font-family:'Courier New', Courier, monospace;
}

.main-section-header span {
    background: white;
    padding: 0em 0.4em;
    overflow: scrolll 
}

.main-section {
    margin: 2.5em;
}

#about-me {
    display: flex;
    gap: 4em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
}

#intro-paragraph {
    flex-basis: 30em;
    flex-grow: 1em;
}

#intro-paragraph-hello {
    font-size: 1.1em;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

#intro-paragraph-name {
    font-size: 4em;
    font-weight: 600;
}

#intro-paragraph-info {
    display: inline;
    text-align: left;
    font-size: 1.1em;
}

#my-photo {
    width: 13em;
    max-width: 17em;
    float: left;
}

#tech-stack-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.2em;
    gap: 1.2em; 
}

#tech-stack-list span {
    padding: 0.3em;
    border: 0.1em solid;
    border-radius: 0.3em;
}

#project-tech-stack {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.2em;
    gap: 2em;
}

#project-tech-stack span {
    font-size: 1em;
    border: 0.1em solid;
    border-radius: 0.3em;
    padding: 0.3em;
}

#socials-nav i {
    font-size: 24px;
    display: block;
    position: fixed;
}

#github-icon {
    bottom: 3em;
    left: 1em;
    padding-bottom: 3em;
    transition: bottom 0.3s;
}

#github-icon:hover {
    bottom: 3.3em;
    color: #333;
}

#linkedin-icon {
    bottom: 2em;
    left: 1em;
    padding-bottom: 2em;
    transition: bottom 0.3s;
    
}

#linkedin-icon:hover {
    bottom: 2.3em;
    color: #0077b5;
}

#instagram-icon {
    bottom: 1em;
    left: 1em;
    padding-bottom: 1em;
    transition: bottom 0.3s;
}

#instagram-icon:hover {
    bottom: 1.3em;
    color: white;
    box-shadow: inset 0 -1em white;
    background: linear-gradient(45deg, #405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
}